@import '../../../styles/mixins/mediaqueries';
@import '../../../styles//variables/colors';
@import '../../../styles//variables/transitions';
@import '../../../styles/variables/sizes';

.nav {
  background-color: $main-white;
  max-width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  &--center {
    max-width: $desktop;
    margin: 0 auto;
  }

  &--header {
    display: flex;
    align-items: center;
  }

  &--logo {
    color: $main-black;
    flex: 50%;
    text-decoration: none;

    &-text {
      margin: 0;
      padding: 0.5em;
      font-size: 1.5em;
    }
  }

  &--btn {
    align-content: center;
    display: flex;
    justify-content: center;
    margin: 1em;
    padding: 0.3em;

    @include tablet-landscape {
      display: none;
    }
  }

  &--links {
    background-color: $main-grey;
    font-size: 1.1rem;
    height: 100vh;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -100%;
    top: 0;
    transition: $main-transition;
    z-index: 2;

    @include tablet-landscape {
      background-color: transparent;
      display: contents;
      flex: 100%;
      align-items: flex-end;
      height: auto;
      position: relative;
      right: 0;
      top: 0;
    }

    &.show-nav {
      right: 0;
    }
  }

  &--link {
    color: $link-blue;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    padding: 1em 0;

    @include tablet-landscape {
      width: auto;
      padding: 1em;
    }

    &-container {
      width: 200px;

      @include tablet-landscape {
        width: auto;
      }
    }

    &.active {
      color: $main-black;
      font-weight: bold;
      cursor: default;
    }
  }
}