@import '../../../styles/variables/colors';
@import '../../../styles//variables/spacing';

.services {
  &--center {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    row-gap: 2rem;
    column-gap: 50px;
  }

  .service {
    text-align: center;
    margin-bottom: 2rem;

    span {
      display: inline-block;
      color: $primary-color;
      font-size: 2.5rem;
      margin-bottom: .5rem;
    }

    h6 {
      letter-spacing: $main-spacing;
      text-transform: capitalize;
    }

    p {
      width: 80%;
      margin: 0 auto;
    }
  }
}