@import '../../../styles/variables/colors';
@import '../../../styles/variables/spacing';
@import '../../../styles/mixins/mediaqueries';

.banner {
  display: flex;
  flex-direction: column;
  background-color: #00000080;
  color: #fff;
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 3px;
  flex-direction: column;
  z-index: 0;
  min-width: 350px;


  @include tablet-landscape {
    min-width: 450px;
  }

  h1 {
    font-size: 6rem;
    margin-bottom: 1rem;
  }

  div {
    width: 10rem;
    height: 5px;
    background-color: $primary-color;
    margin: 1.7rem auto;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
}