.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &--image {
    width: 100%;
    height: 100%;
    position: absolute;
  }
}