@import './styles/variables/colors';
@import './styles/variables/sizes';
@import './styles/variables/spacing';
@import './styles/variables/transitions';

.btn {
  &--primary {
    display: inline-block;
    text-decoration: none;
    letter-spacing: $main-spacing;
    color: $main-black;
    background-color: $primary-color;
    padding: 0.4rem 0.9rem;
    border: 3px solid $primary-color;
    transition: $main-transition;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      background-color: transparent;
      color: $primary-color;
    }
  }
}