@import '../variables/sizes';

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin tablet-landscape {
  @media (min-width: $tablet-landscape) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}